---
layout: layouts/base.njk
title: Contact
description: Get in touch to kick off your Eleventy project.
permalink: contact/index.html
---
<section class="section">
  <h2>Contact</h2>
  <p>I can be reached at sralexander at pm.me.</p>
</section>
